@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    color: white;
    background-image: radial-gradient(circle at 50% 56%, hsla(16,0%,59%,0.1) 0%, hsla(16,0%,59%,0.1) 13%,transparent 13%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 75% 75%, hsla(16,0%,59%,0.1) 0%, hsla(16,0%,59%,0.1) 26%,transparent 26%, transparent 57%,transparent 57%, transparent 100%),radial-gradient(circle at 43% 6%, hsla(16,0%,59%,0.1) 0%, hsla(16,0%,59%,0.1) 29%,transparent 29%, transparent 92%,transparent 92%, transparent 100%),radial-gradient(circle at 39% 61%, hsla(16,0%,59%,0.1) 0%, hsla(16,0%,59%,0.1) 44%,transparent 44%, transparent 83%,transparent 83%, transparent 100%),radial-gradient(circle at 5% 14%, hsla(16,0%,59%,0.1) 0%, hsla(16,0%,59%,0.1) 46%,transparent 46%, transparent 99%,transparent 99%, transparent 100%),linear-gradient(90deg, rgb(10, 22, 107),rgb(133, 136, 202));
    /* background-image: radial-gradient(circle at center center, transparent,rgb(0,0,0)),linear-gradient(300deg, rgba(198, 198, 198,0.05) 0%, rgba(198, 198, 198,0.05) 50%,rgba(11, 11, 11,0.05) 50%, rgba(11, 11, 11,0.05) 100%),linear-gradient(64deg, rgba(54, 54, 54,0.05) 0%, rgba(54, 54, 54,0.05) 50%,rgba(132, 132, 132,0.05) 50%, rgba(132, 132, 132,0.05) 100%),linear-gradient(17deg, rgba(57, 57, 57,0.05) 0%, rgba(57, 57, 57,0.05) 50%,rgba(128, 128, 128,0.05) 50%, rgba(128, 128, 128,0.05) 100%),linear-gradient(332deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(85, 85, 85,0.05) 50%, rgba(85, 85, 85,0.05) 100%),linear-gradient(148deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(211, 211, 211,0.05) 50%, rgba(211, 211, 211,0.05) 100%),linear-gradient(142deg, rgba(168, 168, 168,0.05) 0%, rgba(168, 168, 168,0.05) 50%,rgba(32, 32, 32,0.05) 50%, rgba(32, 32, 32,0.05) 100%),linear-gradient(15deg, rgba(225, 225, 225,0.05) 0%, rgba(225, 225, 225,0.05) 50%,rgba(228, 228, 228,0.05) 50%, rgba(228, 228, 228,0.05) 100%),linear-gradient(5deg, rgba(104, 104, 104,0.05) 0%, rgba(104, 104, 104,0.05) 50%,rgba(43, 43, 43,0.05) 50%, rgba(43, 43, 43,0.05) 100%),radial-gradient(circle at center center, hsl(290,5%,8%),hsl(290,5%,8%)); */
    font-family: 'Oswald', sans-serif;
}
/* ******************************NAVBAR*************************************** */
.navbar .nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3A4284;
    position: sticky;
    width: 100%;
    top: 0;
    font-size: 1.4em;
    z-index: 99;
}

.logo{
    margin-left: 60px;
}

nav ul{
    display: flex;
    list-style-type: none;  
}

nav ul li {
    margin: 0 30px 0 20px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

nav ul li:hover{
    border-bottom-color: #000;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.navbar .menu-burger{
    display: none;
    position: absolute;
    top: 50px;
    right: 25px;    
    width: 35px;
}

.mobile-menu{
    margin-left: 0;

}
/* *********************************************************************************************** */

main{

}
.page-content{
    margin: 3%;
}

.page-content header{
    margin-top: 5%;
    max-width: 80%;
}

/* .page-content header */
 h1{
    margin: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size:6em;
}

.title a{
    font-size: 1.1em;
    color: aqua;
}

.title a:hover{
    font-size: 1.2em;
    transition: .4s;
    color: rgb(251, 31, 31);
    font-weight: 600;
}

.first{
    font-size: 1.1em;
}

p{
    font-size: 1.8em;
    text-align: justify;
}

.photo-profil img{
    float: right;
    width: 150px;
    height: 150px;
    margin: 130px 70px 30px 0px;
    position: relative;
    border-radius: 50%;
    top: 0;
    right: 250px;
}

 .button{
    background-color: #5d6697;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 4px 2px;
    border-radius: 1.1em;
}

.button:hover{
    color: #ccc;
    transition: 0.5s;
    font-size: bold;
}

.page-content .presentation-image{
    margin-top: 5%;
    width: 100%;
    height: 400px;
    background-image: url('../images/background-5060836_1920.jpg');
    background-size: cover;
    background-attachment: fixed;
    transition: filter 0.5s;
   }

.page-content .presentation-image img{
    max-width: 100%;
    height: auto;
}

.page-content .presentation-image:hover{
    filter: brightness(80%);
}

.projects-section .logos img{
    padding: 55px;
    /* width: 60px; */
    height: 60px;
    display: inline-flex;
    justify-content: center;
    padding: auto;
}

.projects-section .logos2 img{
    padding: 55px;
    /* width: 60px; */
    height: 60px;
    display: inline-flex;
    justify-content: center;
}

.projects-section{
    background-color: rgba(255,255, 253, 0.5) ;
    padding: 25px;
    margin-top: 55px;
}
/* ****************************************************FOOTER************************************** */
footer{
    background-color: rgb(91, 91, 165);
    height: 130px;
}

.liens{
    padding: 15px;
    font-size: 1.4em;
    display: flex;
    justify-content: space-around;
}

 .copyright p{
    text-align: center;
    margin: 0px 0 25px 0;
}



/* ***********************************RESPONSIVE************************************* */
@media screen and (max-width: 750px){
    /* .nav-links{
        padding: 0;
    } */
    
main{
        margin: 300px 40px;
    }

.navbar .logo{
        position: absolute;
        top: 50px;
        left: 35%;
        
    }
 .navbar .menu-burger{
    display: block;
    z-index: 2;
}

.navbar .nav-links {
    position: absolute;
}

 .logo{
    display: none;
}

li a{
    color: blue;
    font-weight: bold;
}

 .navbar .nav-links{
   top: 0;
   left: 0;
   position: absolute;
   background-color: rgba(255, 255, 255, 0.20);
   backdrop-filter: blur(14px);
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: -100%;
   transition: all 0.5s ease;
   z-index: 1;
}

.nav-links.mobile-menu{
    margin-left: 0;
}

.nav-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.3em;
}

}

@media screen and (max-width:1000px) {
    .photo-profil img{
        position: absolute;
        top: 1px;
        right: 300px ;
    }
    .page-content{
        margin-top: 200px;
    }

    header h1{
        font-size: 2em;
    }

    .projects-section .logos img{
        padding-left: 10px;
    }  

    .projects-section .logos2 img{
        padding-left: 5px;
    }
}

@media screen and (max-width:1450px){
    .photo-profil img{
        position: absolute;
        top: 1px;
        right: 300px ;
    }

    main{
        margin: 300px 40px;
    }
}

@media screen and (max-width:520px){
    .photo-profil{
        display: none;
    }

      .page-content{
        padding: 15px 10px;
    }

}

/* @media screen and (max-width: 400px) {
    body{
        margin: 0;
        padding: 0;
         
    }
    .page-content h1{
        font-size: 3.5em;
    }

    .page-content{
        margin: auto;
    }

    .photo-profil{
        margin-right: 50px
    }
}

@media screen and (max-width: 700px) {
    nav{
        justify-content: center;
    }

     .projects-section .logos img{
        padding-left: 10px;
    }  

    .projects-section .logos2 img{
        padding-left: 5px;
    }

    .photo-profil img{
        top: 5;
    }

    .p.profile{
        margin: 20px;
    }

}

@media screen and (max-width:1430px) {
    .photo-profil img{
        position: absolute;
        top: 1px;
        right: 615px ;
    }
    
    .page-content{
        margin-top: 180px;
    }
}

@media screen and (max-width:1000px) {
    .photo-profil img{
        position: absolute;
        top: 10px;
        right: 200px ;
    }
    .page-content{
        margin-top: 200px;
    }

    header h1{
        font-size: 2em;
    }
} */